<!-- MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block">
        <div class="logo">
            <a href="{{ route('home') }}">
                <img src="{{ assetsUrl('images/icon/magenta.png') }}" alt="Magenta_Logo"  style="height: 55px; width: 75px;" />
            </a>
        </div>
        <div class="menu-sidebar__content js-scrollbar1">
            <nav class="navbar-sidebar">
                <ul class="list-unstyled navbar__list">
                    <li >
                    <a class="js-arrow" href="{{ route('home') }}">
                            <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                    </li>
                    <li >
                        <a href="{{ route('inventory') }}" >
                            <i class="fas fa-chart-bar"></i>Inventário</a>
                    </li>
                    <li class="active has-sub" >
                        <a href="{{ route('apriori') }}">
                            <i class="fas fa-table"></i>Compras casadas</a>
                    </li>
                    <li>
                        <a href="form.html">
                            <i class="far fa-check-square"></i>Forms</a>
                    </li>
                    <li>
                        <a href="calendar.html">
                            <i class="fas fa-calendar-alt"></i>Calendar</a>
                    </li>
                    <li>
                        <a href="map.html">
                            <i class="fas fa-map-marker-alt"></i>Maps</a>
                    </li>
                    <li class="has-sub">
                        <a class="js-arrow" href="#">
                            <i class="fas fa-copy"></i>Pages</a>
                        <ul class="list-unstyled navbar__sub-list js-sub-list">
                            <li>
                                <a href="login.html">Login</a>
                            </li>
                            <li>
                                <a href="register.html">Register</a>
                            </li>
                            <li>
                                <a href="forget-pass.html">Forget Password</a>
                            </li>
                        </ul>
                    </li>
                    
                </ul>
            </nav>
        </div>
    </aside>
    <!-- END MENU SIDEBAR-->
    @if(data.length > 0)
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div style="display:block; width:100%">
                        <h2 class="title-1 m-b-25">Inventário</h2>
                    </div>  
                    <div class="table-responsive table--no-card m-b-40">
                        <table class="table table-borderless table-striped table-earning">
                            <thead>
                                <tr>
                                    <th class="text-left" style="color:white">Descrição</th>
                                    <th class="text-left" style="color:white">Quantidade</th>
                                    <th class="text-left" style="color:white">Preço</th>
                                    <th class="text-left" style="color:white">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                            @each(product in products)
                                <tr>
                                    <td class="text-left">{{ product.description }}</td>
                                    <td class="text-left">{{ product.amount }}</td>
                                    <td class="text-left">R${{ product.price }}</td>
                                    <td class="text-left">R${{ product.total }}</td>
                                </tr>
                            @endeach
                            </tbody>
                        </table>
                    </div>
                    </div>
                </div>
        </div>
    </div>
    @else
        <div class="main-content">
            <div class="section__content section__content--p30">
                <h2 class="subtitle is-5">Sem resultados da API</h2>
            </div>
        </div>
    @endif