<!-- MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="{{ route('home') }}">
            <img src="{{ assetsUrl('images/icon/magenta.png') }}" alt="Magenta_Logo"  style="height: 55px; width: 75px;" />
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
            <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li>
                            <a href="{{route('/')}}" class="acessibilidade">
                                <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                        </li>
                        <li >
                            <a href="{{route('inventory')}}" class="acessibilidade">
                                <i class="zmdi zmdi-tv-list"></i>Inventário</a>
                        </li>
                        <li class="active has-sub">
                            <a href="{{route('sales')}}" class="acessibilidade">
                                <i class="zmdi zmdi-money"></i>Vendas</a>
                        </li>
                        <li >
                            <a href="{{route('apriori')}}" class="acessibilidade">
                                <i class="zmdi zmdi-accounts-alt"></i>Compras casadas</a>
                        </li>
                        <li >
                            <a href="{{route('help')}}" class="acessibilidade">
                                <i class="zmdi zmdi-help"></i>Ajuda</a>
                        </li>
                    </ul>
                </nav>
    </div>
</aside>
<!-- END MENU SIDEBAR-->
@if(sales.length > 0)
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div style="display:block; width:100%">
                    <h2 class="title-1 m-b-25">Vendas</h2>
                </div>  
                <div class="table-responsive table--no-card m-b-40">
                    <table class="table table-borderless table-striped table-earning">
                        <thead>
                            <tr>
                                <th class="text-left acessibilidade" style="color:white">Descrição</th>
                                <th class="text-left acessibilidade" style="color:white">Quantidade vendida</th>
                                <th class="text-left acessibilidade" style="color:white">Total</th>
                                <th class="text-left acessibilidade" style="color:white">Cliente</th>
                            </tr>
                        </thead>
                        <tbody>
                        @each(sale in sales)
                            <tr>
                                <td class="text-left acessibilidade">{{ sale.description }}</td>
                                <td class="text-left acessibilidade">{{ sale.sold_amount }}</td>
                                <td class="text-left acessibilidade">R$ {{ sale.total }}</td>
                                <td class="text-left acessibilidade">{{ sale.name }}</td>
                            </tr>
                        @endeach
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
    </div>
</div>
@else
    <div class="main-content">
        <div class="section__content section__content--p30">
            <h2 class="subtitle is-5">Sem produtos cadastrados</h2>
        </div>
    </div>
@endif